/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.cdnfonts.com/css/arial-2'); */
@tailwind base;
@tailwind components;
@tailwind utilities;



h1{
  font-family: "DM Serif Display", serif;
}
.hh{
  font-family: "DM Serif Display", serif;
}
p{
font-family: 'Arial', sans-serif;
}
